body{
margin: 0;
padding: 0;
background-color: darkblue;
color: yellowgreen;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
text-align: center;
background-color:gray;
color: white;
padding: 20px 20px 8px 8px;
}
header h1{
font-size: 40px;;
font-style: italic;
font-weight: 900;
justify-content: center;
}

img{
width: 280px;
height: 200px;
}
.folder{
border:( 2px solid black);
border-radius: 40px;
text-align:center;
}
.card{
border: (2px solid blue);
border-radius: 40px;
text-align: center;
}
footer{
text-align: center;
color: lightgreen;
background-color:gray;
padding: 5px 10x 6px 8px;
}
.header h3{
box-align:border-box;
}
nav{
background-color:green;
}
nav ul{
list-style-type: none;
display: flex;
padding: 12px 0px;
margin: 0;
justify-content: center;
}
nav ul li{
margin: 0.52px;
padding: 0px 80px;
display: inline-block;

}
nav ul li a{
color: white;
text-decoration: none;
}

